In [ ]:
# kiem tra cau 1
listA = [1, 10, 20, 5, 60, 30, 10, 9, 10]
def xoa():
  for a in listA:
    if a ==10:
      listA.remove(10)
  print(listA)
print('listA co nhung phan tu')  
print(listA)
print('sau khi xoa phan tu co gia tri 10')
xoa()

In [14]:
list1 = ["A","B","C","D","E","F"]
list2 = [1,2,3,4,5,6]

def chuyen():
    Dict = dict(zip(list1, list2))
    print(Dict)
chuyen()

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [ ]:
Person = {'name': 'Quoc Nam', 'age' : 26, 'salary' : 8000, 'city': 'Tuy Hoa'}
keytoremove = ['salary', 'city']
def xoakey():
  for a in keytoremove:
    del Person[a]
  print(Person)
print('Person co nhung key sau')
print(Person)
print('Sau khi xoa theo keytoremove')
xoakey()

In [37]:
import pandas as pd

from google.colab import drive 
drive.mount('/content/drive')
df = pd.read_csv('drive/MyDrive/mobile_data.csv')
def caua():
  print(df.head(5))
  print(df.tail(5))

def caud(df)
    print(df['company'].value_counts)
    print(df['company'].value_counts().plot(kind= 'bar'))
    plt.show()
    
def caue(df):
  df = df.sort_value('price',ascending=True)
  print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
caua()

   index      company   body-style  ...  horsepower  average-mileage    price
0      0  alfa-romero  convertible  ...         111               21  13495.0
1      1  alfa-romero  convertible  ...         111               21  16500.0
2      2  alfa-romero    hatchback  ...         154               19  16500.0
3      3         audi        sedan  ...         102               24  13950.0
4      4         audi        sedan  ...         115               18  17450.0

[5 rows x 10 columns]
    index     company body-style  ...  horsepower  average-mileage    price
56     81  volkswagen      sedan  ...          85               27   7975.0
57     82  volkswagen      sedan  ...          52               37   7995.0
58     86  volkswagen      sedan  ...         100               26   9995.0
59     87       volvo      sedan  ...         114               23  12940.0
60     88       volvo      wagon  ...         114               23  13415.0

[5 rows x 10 columns]